<div class="container chalkboard-bg">
  <!-- <p id="notice"><%= notice %></p> -->

  <h1 class="text-center fancytext">Team List</h1>


  <% @teams.each do |team| %>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">
              <h1>
              <%= link_to team.name, team_path(team.id), :class => 'fancytext black-text' %>
              <span class="pull-right">
                <%= link_to 'Destroy', team, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
              </span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12">
      <%= link_to 'New Team', new_team_path, :class => 'btn btn-success' %>
    </div>
  </div>
  <br>

</div>