<div class="container chalkboard-bg">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="text-center fancytext">New Team</h1>
			<div class="row">
				<%= render 'form' %>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-12 text-center">
			<%= link_to 'Cancel', teams_path, :class => "btn btn-danger" %>
		</div>
	</div>
	<br />
</div>
