<div class="container chalkboard-bg">
	<div class="row">
		<br>
		<div class="col-sm-1">
			<%= link_to "Back", team_path(params[:team_id]), :class => "btn btn-warning" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">
						<%= @item.title %>
					</h3>
				</div>
				<div class="panel-body">
					<p><%= markdown(@item.description) %></p>
				</div>
			</div>
		</div>
	</div>
</div>
